/yml/*
!/yml/git-gitkeep
# phpStorm
/.idea
/adminer-4.7.6.php

/yii16

# Yii
/assets/*
!/assets/git-gitkeep
/protected/runtime/*
!/protected/runtime/git-gitkeep
#themes/*
/inwidget/cache/*

!*assets
/sitemap*.*xml
# Css
/css/client.css

# Images
/images/**/*.jpg
/images/product/*
/images/category/*
/images/gallery/*
!/images/product/git-gitkeep
/images/page/*
!/images/page/git-gitkeep
/images/event/*
!/images/event/git-gitkeep
!/images/shop/
/images/sale/*
!/images/sale/git-gitkeep
/images/carousel/*
!/images/carousel/git-gitkeep
/images/accordionitems/*
!/images/brand/git-gitkeep
/images/brand/*
!/images/brandsettings/git-gitkeep
/images/brandsettings/*

# Files
/files
!/files/.htaccess

# Eclipse
/.settings/
/.buildpath
/.project

# local
/local.index.php
